### Config for VGGT retrain experiment
defaults:
  - machine: euler
  - model: vggt
  - training: vggt
  - dataset: multi_dataset_train
  - _self_

# -- Training
training:
  # - uncomment / change if memory issues
  max_num_of_imgs_per_gpu: 32
  accum_steps: 3
  # - uncomment / change if debugging
  max_epochs: 20
  #max_train_iters: 2
  #max_val_iters: 2
  logging:
    log_freq: 10  # set to 1 for debugging
    wandb:
      name: train-normal
      project: vggt-train
      entity: tsiebert
  optim:
    frozen_submodules:
      - "aggregator.patch_embed"
  checkpoint:
    resume_checkpoint_path: null

# -- Model
model:
  pretrained_patch_embed_path: dinov2_pretrained # ywyue/FiT3D, TODO: own ft model
  model_config:
    embed_dim: 768
    enable_point: true
    aggregator_config:
      depth: 8
      num_heads: 8
      mlp_ratio: 2
      num_register_tokens: 4
      patch_embed: "dinov2_vitb14_reg"
    camera_head_config:
      trunk_depth: 4
      num_heads: 8
      mlp_ratio: 2
    depth_head_config:
      intermediate_layer_idx: [1, 3, 5, 7]
    # uncomment if using point head
    point_head_config:
      intermediate_layer_idx: [1, 3, 5, 7]

# Paths for convenience
root_data_dir: ${machine.root_data_dir}
mapanything_metadata_dir: ${machine.mapanything_metadata_dir}
checkpoints_dir: ${machine.checkpoints_dir}
logging_dir: ${machine.logging_dir}
