### Config for VGGT retrain experiment
defaults:
  - machine: local
  - model: vggt
  - training: vggt
  - dataset: multi_dataset
  - _self_

# -- Training
training:
  # uncomment / change if memory issues
  max_num_of_imgs_per_gpu: 24
  accum_steps: 3
  resolution:
    train: (448, 448)
  # uncomment / change if debugging
  max_epochs: 3
  max_train_iters: 5
  max_val_iters: 3
  logging:
    log_freq: 1  # set to 1 for debugging
    wandb:
      name: train-normal_debug
      project: vggt-train
      entity: tsiebert
  #optim:
  #  frozen_submodules:
  #  - "aggregator.patch_embed"
  #checkpoint:
  #. resume_checkpoint_path: /cluster/project/cvg//students/tsiebert/checkpoints/checkpoint-last_vggt-dinov2_pretrained.pt

# -- Model
model:
  pretrained_patch_embed_path: dinov2_pretrained # ywyue/FiT3D, TODO: own ft model
  model_config:
    embed_dim: 768
    enable_point: false
    enable_track: false
    aggregator_config:
      depth: 12
      num_heads: 8
      mlp_ratio: 2
      num_register_tokens: 4
      patch_embed: "dinov2_vitb14_reg"
    camera_head_config:
      trunk_depth: 4
      num_heads: 8
      mlp_ratio: 2
    depth_head_config:
      intermediate_layer_idx: [2, 5, 8, 11]

# Paths for convenience
root_data_dir: ${machine.root_data_dir}
mapanything_metadata_dir: ${machine.mapanything_metadata_dir}
checkpoints_dir: ${machine.checkpoints_dir}
logging_dir: ${machine.logging_dir}
