### Config for VGGT retrain experiment
defaults:
  - machine: clariden
  - model: vggt
  - training: vggt
  - dataset: multi_dataset_train
  - _self_

# -- Training
training:
  max_num_of_imgs_per_gpu: 48  # change if memory issues
  accum_steps: 2               # change if memory issues
  max_epochs: 25               # change if debugging
  #max_train_iters: 3          # uncomment / change if debugging
  #max_val_iters: 2            # uncomment / change if debugging
  logging:
    log_freq: 25               # set to 1 for debugging
    log_vis_freq: 3
    wandb:
      name: train-vggt_dinov2_lr-5e-4
      project: vggt-train
      entity: tsiebert
  optim:
    optimizer:
      optimizer_config:
        lr: 5e-4
    schedulers:
      lr:
        name: CompositeParamScheduler
        scheduler_config:
          schedulers:
            - name: LinearParamScheduler
              scheduler_config:
                start_value: 1e-7
                end_value: 5e-4
            - name: CosineParamScheduler
              scheduler_config:
                start_value: 5e-4
                end_value: 1e-7
          lengths: [0.05, 0.95]
    frozen_submodules:
      - "aggregator.patch_embed"
  checkpoint:
    save_freq: 1
    job_id: din001
    resume_checkpoint_path: # ${checkpoints_dir}/...

# -- Model
model:
 model_config:
   embed_dim: 768
   enable_point: true
   patch_embed_config:
     model_id: feature_extractor/dinov2
     model_config:
       checkpoint_path: null
       backbone: "base"
       use_timm: true
       with_registers: true
       preprocess_images: false  # aggregator does this for us
   aggregator_config:
     depth: 8
     num_heads: 8
     mlp_ratio: 2
     num_register_tokens: 4
   camera_head_config:
     trunk_depth: 4
     num_heads: 8
     mlp_ratio: 2
   depth_head_config:
     intermediate_layer_idx: [1, 3, 5, 7]
   # uncomment if using point head
   point_head_config:
     intermediate_layer_idx: [1, 3, 5, 7]

# Paths for convenience
root_data_dir: ${machine.root_data_dir}
mapanything_metadata_dir: ${machine.mapanything_metadata_dir}
checkpoints_dir: ${machine.checkpoints_dir}
logging_dir: ${machine.logging_dir}