### Config for VGGT retrain experiment
defaults:
  - machine: local
  - model: vggt
  - training: vggt
  - dataset: multi_dataset
  - _self_

# -- Training
training:
  #optim:
  #  frozen_submodules:
  #  - "aggregator.patch_embed"
  checkpoint:
    resume_checkpoint_path: ???

# -- Model
model:
  pretrained_patch_embed_path: ywyue/FiT3D
  model_config:
    embed_dim: 768
    enable_point: false
    enable_track: false
    aggregator_config:
      depth: 12
      num_heads: 8
      mlp_ratio: 2
      num_register_tokens: 0
      patch_embed: "dinov2_vitb14_reg"
    camera_head_config:
      trunk_depth: 4
      num_heads: 8
      mlp_ratio: 2
    depth_head_config:
      intermediate_layer_idx: [2, 5, 8, 11]

# Wandb
wandb:
  project: ???
  entity: ???

# Paths for convenience
root_data_dir: ${machine.root_data_dir}
mapanything_metadata_dir: ${machine.mapanything_metadata_dir}
checkpoints_dir: ${machine.checkpoints_dir}
logging_dir: ${machine.logging_dir}